.list-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.card {
    background-color: #FFFFFF;
    border-radius: 8px;
    padding-left: calc(32px/2);
    padding-right: calc(32px/2);
    padding-top: calc(68px/2);
    padding-bottom: calc(68px/2);
}

.score-card {
    text-align: center;
}

.letter {
    font-size: 18px;
    margin: 10px;
}

.question {
    color: #2F527B;
    font-size: 16px;
}

.score-text {
    font-size: 16px;
    color: #1D355D;
}

.score {
    font-size: 30px;
    color: #60BF88;
}

@media (min-width: 350px) {
    .card {
        border-radius: 12px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 68px;
        padding-bottom: 68px;
    }

    .letter {
        margin: 19px;
        margin-right: 46px;
    }

    .letter,
    .question {
        font-size: 24px;
    }

    .score-text {
        font-size: 18px;
    }

    .score {
        font-size: 46px;
    }
}
