body {
    font-family: 'myPoppins', Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: rgba(96, 102, 208, 1);
}

#root {
    max-width: 464px;
    margin: auto;
}

.adventure,
picture {
    display: none
}

.header {
    position: relative;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-wrapper > .heading {
    color: #F2F2F2;
    text-transform: uppercase;
}

.card {
    background-color: #FFFFFF;
    border-radius: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 68px;
    padding-bottom: 68px;
}

.score-card {
    text-align: center;
}

button,
.flag {
    width: 100%;
}

.retry-button {
    max-width: 209px;
    height: 62px;
    border: 2px solid #1D355D;
    border-radius: 12px;
    background-color: transparent;
    color: #1D355D;
    font-weight: 600;
}

/* .card {
    max-width: 464px;
    margin: auto;
} */

.flag {
    max-width: 84px;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.1));
}

.next,
.lost,
.nextButton {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
}

.list-item {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.list-item span {
    margin: 19px;
}

.next,
.lost,
.nextButton,
.button-answer {
    width: 100%;
    height: 56px;
    border-radius: 12px;
}

.next,
.lost,
.nextButton {
    color: #FFFFFF;
    text-align: center;
    max-width: 116px;
}

.button-answer {
    background-color: #FFFFFF;
    text-align: start;
    color: rgba(96, 102, 208, 0.8);
    border: 2px solid rgba(96, 102, 208, 0.7);
    display: flex;
    align-items: center;
}

.next,
.button-answer,
.retry-button {
    font-size: 18px;
}

.letter,
.question {
    font-size: 24px;
}

.letter,
.button-answer,
.next {
    font-weight: 500;
}

.button-answer:hover,
.next,
.lost,
.nextButton {
    background-color: #F9A826;
    border: solid 2px #F9A826;
    color: #FFFFFF;
}

.question {
    color: #2F527B;
}

.heading-result,
.score {
    font-weight: 700;
}

.heading-result {
    font-size: 48px;
    color: #1D355D;
}

.score {
    font-size: 46px;
    color: #60BF88;
}

.button-answer:hover,
.false,
.true,
.true:hover,
.false:hover {
    transition: all ease-in .2s;
}

.false,
.true,
.true:hover,
.false:hover {
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.true,
.true:hover {
    background-color: #60BF88;
} 

.false,
.false:hover {
    background-color: #EA8282;
}

.button-answer2 { 
    background-color: #FFFFFF;
    text-align: start;
    max-width: 400px;
    color: rgba(96, 102, 208, 0.8);
    border: 2px solid rgba(96, 102, 208)
}

.response-icon,
.incorrect-icon {
    max-width: 20px;
    margin-left: auto;
    margin-right: 19px;
}

/* Footer */

footer {
    text-align: center;
}

footer a {
    font-family: "myMontserrat", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #F2F2F2;
    font-weight: 600;
}

@media (min-width: 350px) {
    picture,
    .adventure {
        display: block;
    }

    picture {
        position: relative;
        width: 100%;
        max-width: 162px;
    }
    
    .adventure {
        width: 100%;
        position: absolute;
        max-width: 162px;
        top: 45%;
        right: 0;
    }
    
}


@media (min-width: 420px) {
    .adventure {
        top: 12%;
    }
}